.allContainer{
    width: 40%;
    margin: 0 auto;

}
.title{
    padding: 20px 0;
    background-color:  #af7eeb;
    color: white;
    border-radius: 8px;
    margin-bottom: 5%;

}
.Container{
   background-color: #E3E9FF; 
    padding: 30px 20px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10%;
}
.todo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frist{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.add{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    background-color:  #af7eeb;
    color: white;
    align-items: center;
margin-bottom: 10px;
margin-right: 10px;
}
.add:hover{
    background-color: #7b2cbf;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modalContent{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
}
.conform{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}
.cancel{
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}
.edit {display: flex;}